* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
}

:root {
  --black: #131313;
  --black-grey: #2b2b2b;
  --grey: #86868b;
  --blue: #1561f0;
  --white: #e3e4fa;

  --not-stuck: 0.5rem 0;
  --max-width: 1120px;
  --spaceing-l: 0 1rem 0 1rem;
  --transition: 3s ease-out;
}

.preloader {
  background: #101010
    url("https://cdn.dribbble.com/users/1148781/screenshots/3233207/bold-preloader.gif")
    no-repeat center center;
  background-size: 50%;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
}

body {
  background: var(--black);
  max-width: 100%;
  overflow-x: hidden;
}

.nav-bar {
  display: grid;
  place-items: center;
  place-content: center;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  position: fixed;
}

.nav-bar a {
  display: block;
  color: var(--white);
  font-weight: 900;
  font-size: 1rem;
  margin: 1rem 8rem;
}

section {
  display: grid;
  place-items: center;
  place-content: center;
  min-height: 105vh;
}

#img {
  background-image: url("./images/colorful_clouds_abstract_4k_hd_abstract.jpg");
  background-size: cover;
  padding: 250px 0;
  background-position: bottom;
}

#img h1 {
  font-size: 100px;
  color: var(--white);
}

#img h3::before {
  content: "[";
}

#img h3::after {
  content: "]";
}

#img h3 {
  font-size: 50px;
  color: var(--white);
}

#img h3 span {
  color: aqua;
}

.scroll-down {
  place-items: bottom;
}

h1,
h2,
h3 {
  color: var(--grey);
  font-size: 50px;
}
article {
  display: flex;
  justify-content: center;
  align-items: center;
}
article p {
  color: var(--white);
  max-width: 70%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
  margin: 2rem;
  text-align: justify;
  text-align-last: center;
}

ul {
  color: var(--white);
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

ul li {
  margin: 0.5rem;
}

.not-open {
  opacity: 0;
  filter: blur(5px);
  transform: translate(-100%);
  transition: var(--transition);
}

@media (prefers-reduced-motion) {
  .not-open {
    transition: none;
  }
}

.open {
  opacity: 1;
  filter: blur(0);
  transform: translate(0);
}

.change {
  background-image: url("images/colorful_clouds_abstract_4k_hd_abstract.jpg");
}

.slide-card {
  max-width: 1500px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 0;
}

.content {
  margin: 0 40px;
}

.card {
  width: 380px;
  height: 538px;
  border-radius: 10px;
  background-color: white;
  margin: 20px 20px;
}

.img-cont,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.img-cont {
  position: relative;
  row-gap: 5px;
  padding: 41px 0;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--blue);
  border-radius: 9px 9px 0 41px;
}

.overlay::before,
.overlay::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  width: 40px;
  height: 40px;
  background: var(--blue);
}

.overlay::after {
  border-radius: 0 41px 0 0;
  background: #fff;
}

.card-img {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 40%;
  background: var(--white);
  padding: 3px;
}

.card-img .img-card {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 40%;
  border: 4px solid var(--black-grey);
  overflow-x: hidden;
}

.name {
  font-size: 35px;
  font-weight: 500;
  color: var(--black);
}

.discription {
  font-size: 20px;
  color: var(--black);
  text-align: center;
}

.btn {
  border: none;
  font-size: 16px;
  color: var(--white);
  padding: 8px 16px;
  background-color: var(--blue);
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background: var(--black);
}

footer {
  width: 100%;
  height: 10rem;
  background: var(--black-grey);
}
